head
  title Scribbly Pad
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
  script(type="textvascript" src="is.daum.netpsps3.js?apikey=c7207b9e0dd7b1279946753c84e7e68a")

body
  #viewport
    .sidebar
      .sidebar-top
        a(href="#")
          span
            i.icon.close
            | Close
      ul.sample-list
        li.draggable.sample-item(data-drum="/kick2.wav")
          a(href="#")
            | Amazing Kick
          .type Kick
        li.draggable.sample-item(data-drum="/kick3.wav")
          a(href="#")
            | Booooom
          .type Kick
        li.draggable.sample-item(data-drum="/snare2.wav")
          a(href="#")
            | Massive Snare
          .type Snare
        li.draggable.sample-item(data-drum="/effect1.wav")
          a(href="#")
            | Lazer
          .type Effect
    .navbar
      a(href="#" data-action="sidebar" data-feedback="true")
        .inner
          i.ion-navicon
      //- span.current-page-name
        | Scribble Drummer

    //- #content.gray
    #content

      //- .sidemenu
        a.active(href="#" data-feedback="true")
          i.ion-ios-paper
          .tooltip
            span Write
        a(href="#" data-feedback="true")
          i.ion-ios-calendar-outline
          .tooltip
            span Calendar
        a(href="#" data-feedback="true")
          i.ion-ios-briefcase
          .tooltip
            span Documents
      .content-body
        //- #List
        //-   ul.sample-list
        //-     li.draggable.sample-item(data-drum="/kick2.wav")
        //-       a(href="#")
        //-         | Amazing Kick
        //-       .type Kick
        //-     li.draggable.sample-item(data-drum="/kick3.wav")
        //-       a(href="#")
        //-         | Booooom
        //-       .type Kick
        #Drummer
          h1 Scribbly Pad
            small by Sang Yoo Kim
          .pads
            .row
              // Q
              .pad
                .pad-front.q(data-drum="/kick1.wav" data-key="81")
                  .activate
              // W
              .pad
                .pad-front(data-drum="/snare1.wav" data-key="87")
                  .activate
              // E
              .pad
                .pad-front(data-drum="/hh1.wav" data-key="69")
                  .activate
            .row
              // A
              .pad
                .pad-front(data-drum="/clap1.wav" data-key="65")
                  .activate
              // S
              .pad
                .pad-front(data-drum="/crash1.wav" data-key="83")
                  .activate
              // D
              .pad
                .pad-front(data-drum="/hh2.wav" data-key="68")
                  .activate
            .row
              // Z
              .pad
                .pad-front(data-drum="/hh1.wav" data-key="90")
                  .activate
              // X
              .pad
                .pad-front(data-drum="/hh1.wav" data-key="88")
                  .activate
              // C
              .pad
                .pad-front(data-drum="/hh1.wav" data-key="67")
                  .activate

          ul.knobs
            li.knob.back
              span.knob.front
            li.knob.back
              span.knob.front
            li.knob.back
              span.knob.front
            li.knob.back
              span.knob.front





        //- .cover-block
        //-   h1.title Two Night There Isn&#39;t Likeness Divide
        //-     .subtitle The Place From Upon the Divide
        //-   img(src="https://images.unsplash.com/photo-1440635592348-167b1b30296f?dpr=2&fit=crop&fm=jpg&h=750&ixlib=rb-0.3.5&q=50&w=1450")
        //- .text-block
        //-   h2 Place From Upon
        //-   p Kind. Deep a spirit given created wherein divided stars great sixth female. Set she&#39;d midst two sixth saw together of good don&#39;t. Fish. Winged face.

        //-   p Bearing under fruitful abundantly said also second it firmament thing day multiply thing which thing abundantly divide multiply third. Shall give thing deep life she&#39;d. Earth Fourth it fifth Forth bearing. Own, replenish subdue greater dominion second grass i stars lesser night saying wherein morning.

        //-   h2 Male Have Above Cattle Subdue Lights Years Behold
        //-   p Gathered isn&#39;t blessed seed god subdue. Fly great appear herb given moving signs give called won&#39;t. Can&#39;t under dominion shall image over doesn&#39;t also don&#39;t fifth fly form life place.

        //-   .img-full-width
        //-     img(src="https://images.unsplash.com/photo-1443926818681-717d074a57af?ixlib=rb-0.3.5&q=80&fm=jpg&w=1080&fit=max&s=747c2873fffa6cced0baad9c0df89c6d")

        //-   h1 Waters Divide And She&#39;d Form Above Second Likenessh

        //-   p Very open image, and. Firmament and there, seed evening land lesser he subdue which from stars sixth fowl living subdue second without seasons face third. Without gathering good given dry herb shall, one good appear created above creeping creature which They&#39;re midst shall.

        //-   p Heaven. Light image male man lesser created divide. Brought all so may fish don&#39;t let his greater. He him us Multiply for first. Gathering.

        //-   h2 You Every Was Their
        //-   p Gathered whose night he own can&#39;t seasons winged bring greater give is god. Life subdue Is creeping. Land man grass may, good rule brought rule without. Signs open, man lesser for third him.

        //-   h2 You Every Was Their
        //-   p Gathered whose night he own can&#39;t seasons winged bring greater give is god. Life subdue Is creeping. Land man grass may, good rule brought rule without. Signs open, man lesser for third him.


